<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectohci">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Progreso"
            android:label="@string/title_activity_progreso"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".InformacionEjercicio"
            android:label="@string/title_activity_informacion_ejercicio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SeleccionEjercicio"
            android:label="@string/title_activity_seleccion_ejercicio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Bienvenida"
            android:label="@string/title_activity_bienvenida"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Ayuda"
            android:label="@string/title_activity_ayuda"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ArmarRutina"
            android:label="@string/title_activity_armar_rutina"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>